

p.h2-like{

	color: white;
	text-align: center;
}	

p.tx2 {
	color: white;
	text-align: center;
	font-size: 18px;
}

.alert {
	background-color: #01C3A7;
}

img#photo2 {
	text-align: center;
}


.btn--primary {
	background-color: #033f85;
	text-align: center;
	color: white;
	font-size: 14px;
}

.container {
	text-align: center;
}

#conseil {
	color: #454D5D;
	text-align: center;

}

.market {
	color: #acb3c2;
	text-align: center;
	font-size: 18px;
}

#bloc1 {
	position: relative;
	right: 170px;
}

#bloc2 {
	position: relative;
	right: 150px;
}

#bloc3 {
	position: relative;
	right: 20px;

}

.tag--white {
	width: 20%;
}


#alert2 {
	background-color: #3F618C;
}

.btn--info {
	background-color: #01C3A7;
	color: white;
	font-size: 14px;
}

.fl{
    background-image: url(https://assets.trainline.eu/assets/images/open-home/arguments/illu-1-travel-bc3683df69fd87bdffc7186f25fe1875.jpg);
	background-repeat: no-repeat;
    padding-bottom: 30%;
    background-size: cover;
	background-position: center;
}
.fr{
	background-color: #f3f3f3;
	background-repeat: no-repeat;
	padding-bottom: 9%;
}
.texte1{
	font-family: SourceSansPro,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: left;
	margin-top: 16%;
	margin-left: 20%;
	width: 50%;
}
p{
	color: #bebcbc;
	font-size: 17px;
}
.texte2{
	background-color: #f3f3f3;
	background-repeat: no-repeat;
}
.partie2{
	display: flex;
	justify-content: space-around;
}
.item-center{
	font-size: 30px;
}
.partie3{
	display: flex;
	justify-content: space-around;
}
.paiement{
	text-align: center;
}
.icone{
	display: flex;
	justify-content: space-around;
	margin-top: 2%;
	margin-bottom: 5%;
}
h4{
	margin-bottom: 5%;
}
.para3{
	margin-left: 20%;
	width: 60%;
}
.billets{
	text-align: center;
}
.icone2{
	display: flex;
	justify-content: space-around;
	margin-bottom: 5%;
}

=======
nav{
	background-color: #454d5d;
	color: white;
}
.tag{

	background-color: #454d5d;
	border-color: white;
	color: white;
	
}
section{
	background-image: url(../images/photo3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #454d5d;
}
.reservez{
	color: white;
}
.container{
	
}
.column{
	background-color: white;

}
#petitPlus{
	background-color: #454d5d;
	color: white
}
.column2{
	background-color: white;
	
}
.box{
}
